* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0
}

body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    color: #2E2E2C;
}

.top-level-e78c6 {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
}

.flex-container-e0310 {
    min-width: 100%;
    background-color: #F7DF1E;
    flex: auto;
}

.menu-319e7 {
    flex: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: auto;
    max-width: 55em;
}

.child-10a38 {
    margin: 0;
    letter-spacing: 0.2em;
    font-weight: 400;
    padding: 20px 20px;
    flex: auto;
    text-align: center;
}

.container-3b44f {
    max-width: 55em;
    margin: auto;
    padding: 0.5em 1em;
    line-height: 1.5em;
}

.link-3a22b {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #2E2E2B;
}

.skyline-eba8a {
    background-image: url("../img/skyline.jpg");
    background-size: cover;
    background-position: center 43%;
    text-align: center;
}

.header-e5124 {
    display: inline-block;
    margin: 4.5em 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1.5em 2em;
    border-radius: 3px;
}

.title-ab1a5 {
    font-size: 4em;
    display: inline-block;
    margin: 0 0;
    font-weight: 500;
}

.map-f743d {
    max-width: 100%;
}

.date-7a1a6 {
    margin: 0 0;
    padding-top: .5em;
    padding-bottom: .1em;
    font-size: 2em;
    font-weight: 500;
}

.description-6465e {
    font-size: 1.3em;
    line-height: 1.5em;
}

.subheading-ea9d3 {
    letter-spacing: 0.2em;
    font-weight: 400;
    margin: 1.5em 0;
}

.table-container-f85c9 {
    overflow: scroll;
}

.agenda-ef9dd {
    min-width: 100%;
}

.agenda-ef9dd td {
    padding: 8px 10px;
    text-align: center;
}

.pale-yellow-e0080 { background-color: #FDF9D2; }
.first-grey-448c1 { background-color: #F8F8F8; }
// .second-grey-4037a { background-color: #CECECE; }
// .third-grey-ed8db { background-color: #484848; }
.second-grey-4037a { background-color: #484848; }
.third-grey-ed8db { background-color: #CECECE; }
.forth-grey-add09 { background-color: #676767; }
.node-yellow-96ed5 { background-color: #F7DF1E; }

.light-text-a9d6b { color: #F8F8F8; }

.time-e0efd {
    text-align: right;
    padding-right: 1em;
}

.track-e5f72 {
    font-weight: 400;
}

.img-container-61e85 {
    max-width: 100%;
    margin: 2em 0;
}

.logo-83f86 {
    max-width: 350px;
}

.sponsor-holder {
    text-align: center;
}

.question-ee671 {
    font-weight: 600;
    letter-spacing: 0.05em;
}

.square-8782f {
    list-style-type: square;
    margin: 1em 0;
}

.cost-3a2f9 {
    text-align: right;
    font-weight: bold;
}

.purchase-c35ee {
    letter-spacing: 0.1em;
}

.bot-container-c8b56 {
    width: 100%;
    text-align: center;
    margin: 2em 0;
}

.bot-f6126 {
    max-width: 200px;
}

.bottom-d0830 {
    color: #f8f8f8;
    background-color: #2E2E2C;
    padding: 1.5em 0;
}

.attribution-10e0b {
    max-width: 55rem;
    margin: auto;
    font-size: small;
    padding: 0 10px;
}

.flick-link-429d6, .flick-link-429d6:visited {
    color: #f8f8f8;
}

@media (max-width: 500px) {
    .container-3b44f {
        margin: 0;
    }
    .menu-319e7 {
        flex-flow: column;
    }
    .child-10a38 {
        padding: 14px 20px;
    }
    .title-ab1a5 {
        font-size: 2.5em;
    }
    .map-f743d {
        height: 300px;
    }
}
